
body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}


@media (max-width: 768px) {
  main .Need-parts {
    flex-direction: column;
    text-align: center;
  }

  main .Products {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  header {
    flex-direction: column;
    text-align: center;
  }

  header nav ul {
    justify-content: center;
    padding: 10px 0;
  }

  footer {
    flex-direction: column;
  }
}





