.UniversalPage {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.UniversalInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 400px;
}

.UniversalContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;

}
  

  
  .UniversalInput:focus {
    border-color: #007bff;
  }

  .partsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 40px 5%;
  }
  
  .part {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .part:hover {
    transform: translateY(-8px);
  }
  
  .icon {
    width: 80px;
    height: 80px;
  }
  
  .partName {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #2d2d72;
  }
  
  
  @media (max-width: 600px) {
    .UniversalInput {
      width: 90%;
    }
  }